  <!--
Name: TARANJIT KAUR
ID:	  300854507
File Description: Footer file contains JAVASCRIPT cdn links to be used on all pages
-->
  
  <!-- JAVASCRIPT SECTION -->
    
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>