<!--
Name: TARANJIT KAUR
ID:	  300854507
File Description: About page content
-->
<% include ../partials/header.ejs %>


<!--===================about-me==============================================-->
 <div class="about_section">
 	<div class="container">
    	<div class="row">
        	<div class="about_heading">
            <h1>ABOUT ME</h1>
           <span class="about_image"> <i class="fa fa-user" aria-hidden="true"></i></span>

            	</div>
                <div class="about_text">
                <p>I'm Taranjit Kaur. Sometimes people find it's hard to pronounce and they call me Tara. I consider Tara as Canadian version of my name.   </p>
                <p>I have worked as Android application developer for 2 years and about 8 months in .NET as co-op student.
				I am more intrested in mobile apps development. Learn to use cross platform application environment, 
				such as Xamarin and Ionic, is goal for me this year.
				Apart from that, I like to watch movies, cook food and listening music.Some of the things in my bucket list are: 
				Going out on vacation with my friends to Bahamas, Be fit etc.   </p>
				
				</div>
        	</div>
    	</div>
 	</div>

<!--===================about-me-end==============================================-->

