<% include ../partials/header.ejs %>
<!--=========================contact-section====================================-->
<div class="contact_section">
	<div class="container">
    	<div class="row">
        	<div class="contact_heading">
            <h1>CONTACT</h1>
           <span class="about_image"><i class="fa fa-comment" aria-hidden="true"></i></span>

            	</div>
        <div class="col-sm-4">
        	<div class="contact_text">
            	<h4>Say Hi to Me</h4>
                <p>Centennial College,<br/>
941 Progress Avenue, Toronto<br/>
M1K 5E9, Canada</p>
            	</div>
                
                <div class="contact_number">
                	<h2>098763343214</h2>
                    <p>www.xyz.com</p>
                	</div>
        	</div>
        
        
        
        <div class="col-sm-8">
        	<div class="contact_text1">
            	<h4>Drop Me A Message</h4>
                
            	</div>
                
                
                 <div class="form_image">
                 <form>
              <div class="col-sm-6">
              <div class="form-group">
            
      <input type="text" class="form-control" id="name" placeholder="Enter name">
    </div>
    </div>
    
    <div class="col-sm-6">
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    </div>
   
                 
                <div class="form-group ">
   <textarea class="form-control" placeholder="Enter your message" style="height: 155px;"></textarea>
    </div>
    
    <button type="submit" class="btn btn-default color">Submit</button>
  </form>
        	</div></div>
        
        
        
        
        
        
        	</div>
    	</div>
	</div>

<!--========================contact-section-end=================================-->
<% include ../partials/footer.ejs %>