<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR HOME -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          
        <h1>TARANJIT KAUR</h1>
        <!--<div class="font_class">300854507</div>-->
		</div>
		<div class="img">
		<img src="images/Forma1_1.png" class="cross">
		<img src="images/Layer5.png"/>
		</div>
        <div class="inner_container">
			<div class="left_part"><img src="images/Centennialcollege.png"/></div>
			<div class="center_part">
            <p><span style="color:#74B31A;">Student id:</span> 300854507 
                <br><span style="color:#74B31A;">Program :</span>   Software Engineering Technology(3439)
                <br><span style="color:#74B31A;"> Course  : </span>  Emerging Technologies
                
			<p>I have done my Bachelors in <span style="color:#74B31A;">Computer Science and Technology</span> from India. I like learning new technologies.
			I want to pursue a challenging career and be a part of progressive organization that gives scope to enhance my knowledge, skills.
			</p><br/>
			
				<span class="custom_span"><b>Hobbies</b></span>
				<p>
				<br><span style="color:#74B31A;">1. </span> 	keen interest towards reading
                <br><span style="color:#74B31A;">2. </span> 	like surfing web for the current affairs
                <br><span style="color:#74B31A;">3. </span> 	love to watch Sci fi movies
				<br><span style="color:#74B31A;">4. </span> 	love for Bollywood music
                <br><span style="color:#74B31A;">5. </span> 	cooking food
			</p>
				</div>
			<div class="right_part"><img src="images/rsz_me.jpg"/></div>
		</div>
		
    </div>
    </div>
    </div>
<% include ../partials/footer.ejs %>