<!--
Name: TARANJIT KAUR
ID:	  300854507
File Description: Home page content
-->

<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR HOME -->

<!--banner-start-->
    <div class="banner_section">
	<div class="container">
    	<div class="row">
             	<div class="col-sm-6">
            		<div class="banner_img">
                	<img src="../images/t1.jpg" class="img-responsive" alt="image not found" />
                	</div>
                </div>
                               
                <div class="col-sm-6">
					<div class="banner_text">
						<h1>TARANJIT KAUR</h1>
						<P>Software Developer</P>
					</div>            
            	</div>                
        	</div>
    	</div>
	</div>
<!--banner-end-->



<!--===================about-me==============================================-->
 <div class="about_section">
 	<div class="container">
    	<div class="row">
        	<div class="about_heading">
            <h1>ABOUT ME</h1>
           <span class="about_image"> <i class="fa fa-user" aria-hidden="true"></i></span>

            	</div>
                <div class="about_text">
                <p>I'm Taranjit Kaur. Sometimes people find it's hard to pronounce and they call me Tara. I consider Tara as Canadian version of my name.   </p>
                <p>I have worked as Android application developer for 2 years and about 8 months in .NET as co-op student.
				I am more intrested in mobile apps development. Learn to use cross platform application environment, 
				such as Xamarin and Ionic, is goal for me this year.
				Apart from that, I like to watch movies, cook food and listening music.Some of the things in my bucket list are: 
				Going out on vacation with my friends to Bahamas, Be fit etc.   </p>
				<p>To go through my projects and work experience, check my GitHub and LinkedIn links below.</p>
				</div>
        	</div>
    	</div>
 	</div>

<!--===================about-me-end==============================================-->

<!--===================profile-section==============================================-->
<div class="profile_section">
	<div class="container">
    	<div class="row">
        	<div class="profile_heading">
            	<h1>PERSONAL PROFILE</h1>
               <span class="about_image"> <i class="fa fa-book" aria-hidden="true"></i></span>
            	</div>
                
                <div class="col-sm-4 profile_less">

                <div class="col-sm-4 profile_left">
                	<div class="profile_text" id="name">                    
                      <h3>Name</h3>
                     </div>
                    	</div> 
                        
                        
                         <div class="col-sm-8 profile_right">
                	<div class="profile_desc" id="name_desc">
                    
                      <h3>Taranjit Kaur</h3>
                           </div>
                    	</div> 
                        </div>
                        
                        
                        
                         <div class="col-sm-4 profile_less">
                <div class="col-sm-4 profile_left">
                	<div class="profile_text">
                    
                      <h3>Wish me on</h3>
                           </div>
                    	</div> 
                        
                        
                         <div class="col-sm-8 profile_right">
                	<div class="profile_desc">
                    
                      <h3>December 19</h3>
                           </div>
                    	</div> 
                        </div>
                        
                        
                        
                         <div class="col-sm-4 profile_less">
                <div class="col-sm-4 profile_left">
                	<div class="profile_text">
                    
                      <h3>Email</h3>
                           </div>
                    	</div> 
                        
                        
                         <div class="col-sm-8 profile_right">
                	<div class="profile_desc">
                    
                      <h3>parmar.taran@gmail.com</h3>
                           </div>
                    	</div> 
                        </div>
                        
                        
                        <div class="btm_1">
                        
                         <div class="col-sm-4 profile_less">
                <div class="col-sm-4 profile_left">
                	<div class="profile_text">
                    
                      <h3>Address</h3>
                           </div>
                    	</div> 
                        
                        
                         <div class="col-sm-8 profile_right">
                	<div class="profile_desc">
                    
                      <h3>Toronto, Canada</h3>
                           </div>
                    	</div> 
                        </div>
                        
                        
                        
                         <div class="col-sm-4 profile_less">
                <div class="col-sm-4 profile_left">
                	<div class="profile_text">
                    
                      <h3>GitHub</h3>
                           </div>
                    	</div> 
                        
                        
                         <div class="col-sm-8 profile_right">
                	<div class="profile_desc">
                    
                      <h3>
					  <a href="https://github.com/taranjit91">My GitHub</a>
					  </h3>
                           </div>
                    	</div> 
                        </div>
                        
                        
                        
                         <div class="col-sm-4 profile_less">
                <div class="col-sm-4 profile_left">
                	<div class="profile_text">
                    
                      <h3>LinkedIn</h3>
                           </div>
                    	</div> 
                        
                        
                         <div class="col-sm-8 profile_right">
                	<div class="profile_desc">
                    
                      <h3>
					  <a href="https://www.linkedin.com/in/kaurtaranjit/">My LinkedIn</a>
					  </h3>
                           </div>
                    	</div> 
                        </div></div>
                        
        
                
                
        	</div>
    	</div>
	</div>


<!--===================profile-section-end==============================================-->


<!--===================projects-section-start==============================================-->
<div class="project_sec">
	<div class="container">
    	<div class="row">
        <div class="project_heading">
            	<h1>PROJECTS</h1>
               <span class="about_image"><i class="fa fa-tasks" aria-hidden="true"></i>
</span>
            	</div>
        
        <div class="project-cover">
        
        	<div class="col-sm-6">
            	<div class="project_border">
                <img src="images/frootfal.png" class="image_border" alt="image not found" />
                	</div>
                    <div class="project_text">
                    	<h2>Frootfal Cashback</h2>
                        <p>The app is about getting cashback when you purchase online using this app. This app is native android app and has all the copyright to the owner.
						<a href="https://play.google.com/store/apps/details?id=com.fw.frootfal&hl=en">Google play store link</a>
						</p>
                    	</div>
            	</div>
                
                
                <div class="col-sm-6">
                <div class="project_border">
                <img src="images/profile.png" class="image_border" alt="image not found" />
                	</div>
                    <div class="project_text">
                    	<h2>Portfolio</h2>
                        <p>
						The app is my profile created using node.js. This is assignment for Emerging Technologies course at Centennial.
						<a href="https://portfolio-300854507.herokuapp.com/">Heroku App</a>
						</p>
						</div>
            	</div>
                
                
               
                
                </div>
                
                
                
        	</div>
    	</div>
	</div>


<!--===================projects-section-end==============================================-->



<% include ../partials/footer.ejs %>