<!--
Name: TARANJIT KAUR
ID:	  300854507
File Description: Projects page content
-->
<% include ../partials/header.ejs %>
<!--===================projects-section-start==============================================-->
<div class="project_sec">
	<div class="container">
    	<div class="row">
        <div class="project_heading">
            	<h1>PROJECTS</h1>
               <span class="about_image"><i class="fa fa-tasks" aria-hidden="true"></i></span>
        </div>
        
        <div class="project-cover">
			<div class="col-sm-12">
				<div class="col-sm-4">
					<div class="project_img_outer">
						<img src="images/project.jpg" class="image_project_border" alt="image not found" />
					</div>
				</div>
				<div class="col-sm-8">
					<div class="projects_text">
						<h2>Frootfal Cashback</h2>
						<a href="https://play.google.com/store/apps/details?id=com.fw.frootfal&hl=en">https://play.google.com/store/apps/details?id=com.fw.frootfal&hl=en</a>
						<p>The app is about getting cashback when you purchase online using this app. This app is native android app and has all the copyright to the owner.</p>
					</div>
				</div>
            </div>

			<div class="col-sm-12">
				<div class="col-sm-4">
					<div class="project_img_outer">
						<img src="images/project.jpg" class="image_project_border" alt="image not found" />
					</div>
				</div>
				<div class="col-sm-8">
					<div class="projects_text">
						<h2>Portfolio</h2>
						<a href="https://portfolio-300854507.herokuapp.com/">https://portfolio-300854507.herokuapp.com/</a>
						<p>The app is my profile created using node.js. This is assignment for Emerging Technologies course at Centennial.</p>
					</div>
				</div>
            </div>
            </div>
                
                
                
        	</div>
    	</div>
	</div>

<!--===================projects-section-end==============================================-->

<% include ../partials/footer.ejs %>