<!--
Name: TARANJIT KAUR
ID:	  300854507
File Description: Services page content
Reusing css style from projects section
-->

<% include ../partials/header.ejs %>
<!--===================services-section-start==============================================-->
<div class="project_sec">
	<div class="container">
    	<div class="row">
			<div class="project_heading">
					<h1>SERVICES</h1>
				<span class="about_image"><i class="fa fa-tasks" aria-hidden="true"></i></span>
			</div>
        
        <div class="project-cover">        
        	<div class="col-sm-4">
					<div class="project_border">
						<img src="images/android.png" class="image_border" alt="image not found" />
					</div>
                    <div class="project_text">
                    	<h2>Native Android</h2>                        
                    </div>
            	</div>
                                
                <div class="col-sm-4">
                	<div class="project_border">
					<img src="images/xamarin.png" class="image_border" alt="image not found" />
					</div>
					<div class="project_text">
					<h2>Xamarin</h2>                       
					</div>
            	</div>
                                
                <div class="col-sm-4">
					<div class="project_border">
					<img src="images/node.png" class="image_border" alt="image not found" />
					</div>
					<div class="project_text">
					<h2>Node Js</h2>
					</div>
            	</div>
                
                </div>
               	</div>
    	</div>
	</div>
<!--===================services-section-end==============================================-->
<% include ../partials/footer.ejs %>